@font-face {
  font-family: "StratosSkyeng";
  src:
    url("../fonts/stratosskyengweb-regular.woff2") format("woff2"),
    url("../fonts/stratosskyengweb-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --orange: #ff6d00;
  --orange60: #ff9e00;
  --blue60: #00c1ff;
  --grey: #f4f4f4;
  --black: #000;
  --red: #ff4545;
  --red10: #ffebeb;
  --w8: rgba(255, 255, 255, 0.8);
  --w64: rgba(255, 255, 255, 0.64);
  --w48: rgba(255, 255, 255, 0.48);
  --w: rgba(255, 255, 255, 1);
  --b64: rgba(0, 0, 0, 0.64);
  --b48: rgba(0, 0, 0, 0.48);
}

.clr-orange {
  color: var(--orange);
}
.clr-red {
  color: var(--red);
}
.clr-blue {
  color: var(--blue60);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "StratosSkyeng", sans-serif;
  font-weight: 400;
  font-variant-numeric: lining-nums proportional-nums;
}
img {
  pointer-events: none;
}
a {
  text-decoration: none;
  color: var(--black);
}
button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}
body {
  background-color: var(--grey);
  overflow-x: hidden;
}
.no-wrap {
  white-space: nowrap;
}
space {
  display: block;
  margin-bottom: 16px;
}

.font-xxl {
  font-size: 26px;
  line-height: 106%;
  letter-spacing: -0.39px;
}

.font-xl {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.192px;
}

.font-l {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.16px;
}

.font-m {
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -0.09px;
}

.font-s {
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.048px;
}

.font-xs {
  font-size: 14px;
  line-height: 112%;
  letter-spacing: -0.014px;
}

.font-xxs {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.007px;
}

nav,
header,
aside {
  width: 376px;
  margin: auto;
}
main {
  width: 344px;
  margin: auto;
}

.header--main {
  background-color: var(--orange);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img {
  /* width: 128px; */
  height: 32px;
}
.logo__divider {
  background-color: var(--w8);
  width: 1px;
  height: 16px;
  border-radius: 8px;
}
.logo__text {
  white-space: nowrap;
  color: var(--w8);
}

.intro {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.intro__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.intro__title {
  color: var(--w);
}
.intro__subtitle {
  color: var(--w8);
}
.intro__img {
  width: 115px;
  height: 117px;
  overflow: visible;
  img {
    position: relative;
    top: -9px;
    left: -24px;
  }
}

.content--main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subject {
  background-color: var(--w);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.subject__content {
  display: flex;
}
.subject__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.subject__subtitle {
  color: var(--b64);
}
.subject__img {
  width: 52px;
  height: 0;
  overflow: visible;
  img {
    position: relative;
  }
  .pencil {
    left: -55.82px;
    top: -52.06px;
  }
  .cube-thinker {
    left: -51.54px;
    top: -31.3px;
  }
  .workbook {
    left: -32px;
    top: -29px;
  }
}
.subject__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.subject__link {
  background-color: var(--grey);
  padding: 11px 22px 13px;
  border-radius: 8px;
}
.pwa {
  background-color: var(--orange);
  display: flex;
  gap: 16px;
  border-radius: 16px;
  padding: 16px;
}
.pwa__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pwa__title {
  color: var(--w);
}
.pwa__subtitle {
  color: var(--w64);
}
.pwa__close {
  width: 24px;
  height: 24px;
}
