.--grid-three-columns {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-items: center;
}
.info-list__part--column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}
.info-list__name--column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.info-list__name--row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  align-items: baseline;
}
.info-list__example--row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}

.underline__double {
  text-decoration: underline double;
  text-underline-offset: 5px;
}
.underline__solid {
  text-decoration: underline solid;
  text-underline-offset: 5px;
}
.underline__wavy {
  text-decoration: underline wavy;
  text-underline-offset: 5px;
}
.underline__dashed {
  text-decoration: underline dashed;
  text-underline-offset: 5px;
}
.underline__dashed-dot {
  position: relative;
  display: inline-block;
}

.underline__dashed-dot::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 1px;
  background-color: currentColor;

  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='1' viewBox='0 0 16 1'%3E%3Crect x='0' y='0' width='6' height='1' fill='black'/%3E%3Crect x='10' y='0' width='2' height='1' fill='black'/%3E%3C/svg%3E")
    left center / 16px 1px repeat-x;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='1' viewBox='0 0 16 1'%3E%3Crect x='0' y='0' width='6' height='1' fill='black'/%3E%3Crect x='10' y='0' width='2' height='1' fill='black'/%3E%3C/svg%3E")
    left center / 16px 1px repeat-x;
}

.suffix {
  position: relative;
  display: inline-block;
}

.suffix__mark {
  position: absolute;
  left: -1px;
  top: -5px;
  width: calc(100% + 2px);
  height: 10px;
  overflow: visible;
  pointer-events: none;
}

.suffix__mark path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.root {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.root__mark {
  position: absolute;
  left: -1px;
  top: -5px;
  width: calc(100% + 2px);
  height: 10px;
  overflow: visible;
  pointer-events: none;
}

.root__mark path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.prefix {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.prefix__mark {
  position: absolute;
  left: -1px;
  top: -5px;
  width: calc(100% + 2px);
  height: 10px;
  overflow: visible;
  pointer-events: none;
}

.prefix__mark path {
  fill: none;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.word__ending-square {
  border: 1px solid var(--orange60);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
}

.flowchart {
  border-radius: 12px;
  padding: 12px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}
.flowchart__content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.flowchart__branch {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.branch__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.branch__example {
  background-color: var(--w);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.branch__example-part {
  display: flex;
  justify-content: space-around;
}
.flowchart__arrows {
  flex: 100%;
}
.branch__description {
  color: var(--b48);
}
#bukvy {
  .info-list__example,
  .info-list__name {
    text-align: center;
  }

  .info-list--row {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 8px;
    .info-list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      border-radius: 8px;
      padding: 12px;
    }
  }
}

#zvuki {
  .info-list__part {
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--w48);
    width: 66px;
  }

  .--custom-flex {
    display: flex;
    justify-content: space-evenly;
  }
}

#pravopisanie-soglasnyh {
  .info-list__item {
    text-align: center;
  }

  .info-list--row {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 8px;
    .info-list__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      border-radius: 8px;
      padding: 12px;
    }
  }
}

#prilagatelnoe {
  .cheat__content-example {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    border-radius: 8px;
    background-color: var(--grey);
  }
  .example__visual {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  .example__divider {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .example__answer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }
  .example__answer-traits {
    text-align: end;
  }
}

#predlozhenie {
  .--grid-three-columns {
    justify-items: start;
  }
}

#chleny-predlozheniya,
#members-and-parts-of-speech {
  .cheat__content-example {
    text-align: center;
  }
}
#suschestvitelnoe {
  .info-list__name--column {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .info-list__name--row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

#alternating-vowels,
#soft-hard-signs {
  .note {
    flex-wrap: wrap;
    gap: 8px;
  }
  .note__example {
    border-radius: 8px;
    padding: 12px;
    background-color: var(--w48);
  }
}

#vowels-after-sibilants {
  .branch__example-part {
    justify-content: flex-start;
  }
}

.note__text--p-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#comma-homogeneous,
#vocative {
  .info-list__example {
    align-items: center;
    span:not(.--no-flex) {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

#participle {
  .info-list--only-names {
    gap: 4px;
    .info-list__name {
      border-radius: 12px;
    }
    .info-list__divider {
      text-align: center;
    }
  }
}

.info-list__part--boxed {
  border-radius: 8px;
  padding: 12px;
  background-color: var(--w48);
}

.boxed--mini {
  padding: 0 4px;
  border-radius: 2px;
  background-color: var(--w);
}

#particle {
  .info-list__item--equation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
}

#parenthetical-words {
  .info-list__example {
    text-align: center;
  }
}
