.search-box__input {
  width: 100%;
  height: 36px;
  padding: 0 34px;
  border: none;
  border-radius: 100px;
  background-color: #ededed;
  outline: none;
}

.search-box__input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

.search-box__input::-webkit-search-cancel-button,
.search-box__input::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-box__icon,
.search-box__clear {
  position: absolute;
  top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.search-box__icon {
  left: 10px;
  pointer-events: none;
}

.search-box__clear {
  right: 10px;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
}

.search-box--filled .search-box__clear {
  opacity: 1;
  pointer-events: auto;
}

.search-box__icon img,
.search-box__clear img {
  width: 16px;
  height: 16px;
  display: block;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-results[hidden] {
  display: none;
}

body.search-active {
  overflow: hidden;
}

body.search-active .search-shell {
  position: fixed;
  inset: 0;
  z-index: 1000;
  width: 100%;
  background: var(--w);
  padding: 16px 0;
  overflow-y: auto;
  /* scrollbar-gutter: stable both-edges; */
}

.search-box {
  width: clamp(344px, calc(100% - 32px), 624px);
  margin: auto;
  position: relative;
}

body.search-active .search-results {
  padding: 16px 0 16px;
}

.search-results__group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-results__subject {
  color: var(--b64);
}

.search-results__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-results__item {
  border-radius: 16px;
  padding: 16px;
  display: flex;
  gap: 16px;
  background-color: var(--grey);
  justify-content: space-between;
}

.search-results__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.search-results__grade {
  color: var(--b48);
}

.search-results__arrow {
  width: 24px;
  height: 24px;
}

#page-toc {
  .search-results__item {
    background-color: var(--w);
  }
  .search-results__list {
    gap: 8px;
  }
}
